.dynamic-container {
  margin: 120px;
  .top-news {
    width: 100%;
    height: 420px;
    .container-wrap {
      background: #1f2251;
      box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      // margin: 0 120px;
      overflow: hidden;
      border-radius: 20px;
    }
    .left {
      float: left;
      width: 58%;
      height: 100%;
      overflow: hidden;
      .left-wrap {
        height: 100%;
      }
      .img-wrap {
        width: 100%;
        padding-bottom: 50%;
        height: 100%;
        // display: block;
        overflow: hidden;
        .img {
          transition: all 0.3s;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .right {
      float: left;
      width: 42%;
      padding-left: 2em;
      padding-right: 1.5em;
      position: relative;
      .right-wrap {
        height: 100%;
        .news-title {
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
        }
        .tag {
          color: #fff;
          background-color: rgba(2, 101, 214, 1);
          margin: 32px 32px 32px 0;
          display: inline-block;
          font-size: 12px;
          line-height: 2;
          padding: 0 12px;
        }
        .title-content {
          font-size: 20px;
        }
        .news-summary {
          font-size: 16px;
        }
        .news-bottom {
          color: #999;
          width: 100%;
          position: absolute;
          bottom: 10px;
        }
      }
    }
    .swiper-pagination {
      bottom: 25px;
      .swiper-pagination-bullet {
        transition: all 0.5s;
        position: relative;
        width: 4px;
        height: 4px;
        background: transparent;
        opacity: 1;
        background: rgba(255, 255, 255, 1);
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          width: 0;
          left: 0;
          height: 100%;
          background: rgba(255, 255, 255, 1);
          transition: all 0.2s;
        }
        &.swiper-pagination-bullet-active {
          width: 24px;
        }
      }
    }
  }

  .tab-active {
    font-size: 16px;
  }
  .tab-name {
    font-weight: 600;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 1em;
      height: 1em;
      top: -0.2em;
      right: -0.5em;
      border-radius: 1em;
      background: linear-gradient(
        223.38deg,
        rgba(254, 249, 253, 0.895) 0%,
        rgba(52, 118, 255, 0) 100%
      );
    }
  }

  .cards-display {
    display: grid;
    grid-template-columns: repeat(4, 23.7%);
    grid-column-gap: 20px;
  }

  .text-list {
    margin-top: 24px;
    overflow: hidden;
    background-color: #1f2251;
    padding: 10px 40px;
    border-radius: 3px;
    .text-item {
      float: left;
      width: 100%;

      height: 100%;
      .item-wrap {
        position: relative;
        background-color: #1f2251;
        padding: 24px 0;
        border-bottom: 1px solid rgb(103, 120, 202);
      }
      &:last-child {
        .item-wrap {
          border-bottom: none;
        }
      }
      .img-wrap {
        width: 100%;
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          display: block;
          width: 100%;
          padding-bottom: 61.28%;
        }
        img {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .item-info {
        display: block;
        padding-right: 33%;
        position: relative;
      }
      .item-title {
        font-size: 14px;
        margin-bottom: 0.5em;
        // @include lines-ell2();
      }
      .item-summary {
        // @include lines-ell2();
        color: #999999;
      }
      .item-date {
        position: absolute;
        right: 0;
        top: 1em;
        font-size: 14px;
        color: #666;
      }
    }
  }
}
