.section {
  margin: 30px 0 180px 0;
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
}
.cardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 30px;
}
.newsRow {
  height: 350px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.infoPart {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sciInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .leftInfo {
    width: 50%;
  }
  .rightCards {
  }
}
